.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}

.topnav__right {
  display: flex;
  align-items: center;
}

.topnav__right-item ~ .topnav__right-item {
  margin-left: 20px;
}

.notification-item {
  display: flex;
  align-items: center;
  padding: 20px;
}

.notification-item:hover {
  background-color: var(--second-bg);
}

.notification-item > i {
  margin-right: 20px;
  font-size: 24px;
}

.topnav__right-user {
  display: flex;
  align-items: center;
}

.topnav__right-user__image {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
}

.topnav__right-user__image > img {
  width: 100%;
  height: 100%;
}
